*{
          margin: 0;
          padding: 0;
}


.page1{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color: blueviolet;
}

.page2{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color:crimson;
}

.page3{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color:lavender;
}

.page1 .box{
          width: 200px;
          height: 200px;
          background-color: white;
          border-radius: 20px;
}


.page2 .box{
          width: 200px;
          height: 200px;
          background-color: white;
          border-radius: 20px;
}

.page3 .box{
          width: 200px;
          height: 200px;
          background-color:darkblue;
          border-radius: 20px;
}